<div class="body">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="conference" data-aos="fade-right" data-aos-duration="500">
                CONFERENCE OUEST
            </div>
            <div class="division" data-aos="fade-right" data-aos-duration="500">
                Northwest Division
            </div>
            <div data-aos="fade-right" data-aos-duration="1000">
                <p><img src="assets/img/denver.png"> Denver Nuggets</p>
                <p><img src="assets/img/okc.png"> Oklahoma City Thunder</p>
                <p><img src="assets/img/portland.png"> Portland Trail Blazers</p>
                <p><img src="assets/img/utah.png"> Utah Jazz</p>
                <p><img src="assets/img/minnesota.png"> Minnesota Timberwolves</p>
            </div>
            <div class="division" data-aos="fade-right" data-aos-duration="500">
                Pacific Division
            </div>
            <div data-aos="fade-right" data-aos-duration="1000">
                <p><img src="assets/img/golden_state.png"> Golden State Warriors</p>
                <p><img src="assets/img/clippers.png"> Los Angeles Clippers</p>
                <p><img src="assets/img/sacramento.png"> Sacramento Kings</p>
                <p><img src="assets/img/lakers.png"> Los Angeles Lakers</p>
                <p><img src="assets/img/phoenix.png"> Phoenix Suns</p>
            </div>
            <div class="division" data-aos="fade-right" data-aos-duration="500">
                Southwest Division
            </div>
            <div data-aos="fade-right" data-aos-duration="1000">
                <p><img src="assets/img/houston.png"> Houston Rockets</p>
                <p><img src="assets/img/spurs.png"> San Antonio Spurs</p>
                <p><img src="assets/img/dallas.png"> Dallas Mavericks</p>
                <p><img src="assets/img/pelicans.png"> New Orleans Pelicans</p>
                <p><img src="assets/img/memphis.png"> Memphis</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="conference" data-aos="fade-left" data-aos-duration="500">
                CONFERENCE EST
            </div>
            <div class="division" data-aos="fade-left" data-aos-duration="500">
                Atlantic Division
            </div>
            <div data-aos="fade-left" data-aos-duration="1000">
                <p><img src="assets/img/toronto.png"> Toronto Raptors</p>
                <p><img src="assets/img/boston.png"> Boston Celtics</p>
                <p><img src="assets/img/philadelphie.png"> Philadelphie 76ers</p>
                <p><img src="assets/img/brooklyn.png"> Brooklyn Nets</p>
                <p><img src="assets/img/knicks.png"> New-York Knicks</p>
            </div>
            <div class="division" data-aos="fade-left" data-aos-duration="500">
                Central Division
            </div>
            <div data-aos="fade-left" data-aos-duration="1000">
                <p><img src="assets/img/bucks.png"> Milwaukee Bucks</p>
                <p><img src="assets/img/pacers.png"> Indiana Pacers</p>
                <p><img src="assets/img/detroit.png"> Detroit Pistons</p>
                <p><img src="assets/img/bulls.png"> Chicago Bulls</p>
                <p><img src="assets/img/cleveland.png"> Cleveland Cavaliers</p>
            </div>
            <div class="division" data-aos="fade-left" data-aos-duration="500">
                Southeast Division
            </div>
            <div data-aos="fade-left" data-aos-duration="1000">
                <p><img src="assets/img/charlotte.png"> Charlotte Hirnets</p>
                <p><img src="assets/img/miami.png"> Miami Heat</p>
                <p><img src="assets/img/orlando.png"> Orlando Magic</p>
                <p><img src="assets/img/washington.png"> Washington Wizards</p>
                <p><img src="assets/img/atlanta.png"> Atlanta Hawks</p>
            </div>
        </div>
    </div>