.body {
    background-color: rgb(0, 117, 146);
    width: 100%;
}

.row {
    padding: 2%;
    margin: 0;
}

.player {
    margin: 1%;
}

.card-img-top {
    cursor: pointer;
}

.card-body {
    background-color: rgb(139, 154, 187);
}

.card-text {
    text-align: center;
}